.navbar-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 18px 24px;
}
.navbar-div h1 {
  font-size: 28px;
}
.logout-btn {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  border: 2px solid #1f75fe;
  border-radius: 8px;
  background-color: #1f75fe;
  transition: all ease-in 0.2s;
}
.logout-btn:hover {
  background-color: transparent;
  color: #1f75fe;
}
.logout-btn span {
  font-size: 18px;
  font-weight: 500;
}
