/* Show Note Card styling:- */
.show-note-card {
  padding: 18px 18px 18px 24px;
}
.show-note-card-title {
  padding-bottom: 18px;
  font-size: 32px;
  font-weight: 600;
}
.show-note-card-content {
  font-size: 18px;
  font-weight: 400;
}
.show-note-card h2 {
  padding-top: 12px;
}
.empty-response {
  margin-top: 100px;
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  color: #cccccc;
}

/* Create Note Card styling:- */
.main-container {
  width: 100%;
  padding: 18px;
  position: absolute;
}
.form-container {
  width: 100%;
  height: 80vh;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 25px;
  background-size: 200% 100%;
  background-color: #141517;
  /* animation: gradient 5s ease infinite; */
  /* background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box; */
    position: relative;
}
/* @keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
} */

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 18px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 2px solid #414141;
}

.form-container .form-group textarea {
  width: 100%;
  height: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  border: 2px solid #414141;
  background-color: transparent;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #ff4545;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #ff4545;
}
.form-group textarea::placeholder{
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.05rem;
  color: #cdcdcd;
}

.form-submit-btn {
  position: absolute;
  bottom: 24px;
  font-weight: 600;
  font-size: 16px;
  width: 40%;
  background: #ff4545;
  color: white;
  border: 2px solid transparent;
  border-radius: 12px;
  padding: 12px 16px;
  cursor: pointer;
  transition: all ease-in 0.2s;
}

.form-submit-btn:hover {
  background-color: transparent;
  border-color: #ff4545;
  color: #ff4545;
}

/* Note List Card styling:- */
.note-list-card {
  margin-bottom: 18px;
  padding: 18px;
  border: 2px solid #33383f;
  border-radius: 25px;
  background-color: #141517;
  cursor: pointer;
  transition: all ease-in 0.2s;
  /* background-color: #f4f3f3; */
  /* border: 2px solid #f4f3f3; */
}
.note-list-card:hover {
  /* background-color: rgb(255, 69, 69, 0.1); */
  border-color: #1f75fe;
  color: white;
}
.note-list-card:hover .note-list-card-date {
  /* background-color: rgb(255, 69, 69); */
}
.note-list-card-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}
.note-list-card-description {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 18px;
}
.note-list-card-date {
  padding: 6px 12px;
  background-color: rgb(45, 45, 45, 0.8);
  border-radius: 11px;
  transition: all ease-in 0.2s;
}
