@import url("https://fonts.googleapis.com/css2?family=Roboto:wdth,wght@75..100,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Savate:wght@200..900&display=swap");

.app-container {
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  transition: all ease-in 0.3s;
}

/* Custom css for logo design */
.logo-styling {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 900;
  line-height: 32px;
}
/* .logo-styling svg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #1f75fe;
}
.logo-styling svg {
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}
.logo-styling:hover svg {
  transform: rotate(-45deg);
} */

/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}
.custom-scrollbar-thumb::-webkit-scrollbar-thumb {
  width: 4px;
  background-color: #99999b;
  border-radius: 8px;
}
.no-scrollbar::-webkit-scrollbar {
  width: 0px;
}

/* Tailwind typography overriding styles */
.prose :where(h1, h2, h3, h4, p, ul, ol, li, pre) {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}
.prose :where(ul, ol) {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

/* In your global CSS file (e.g. index.css, globals.css, etc.) */
.custom-quill-editor .ql-toolbar {
  font-size: 24px;
}
.custom-quill-editor .ql-container {
  background-color: #191919;
  color: white;
  padding: 8px 12px;
  font-size: 16px;
}
.custom-quill-editor .ql-editor {
  min-height: calc(100vh - 360px);
  color: #c0c0c3;
  scrollbar-width: none; /* Firefox */
  padding: 1rem;
}
.custom-quill-editor .ql-editor::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.custom-quill-editor .ql-size-small {
  font-size: 0.75rem; /* 12px */
}
.custom-quill-editor .ql-size-normal {
  font-size: 1rem; /* 16px (default) */
}
.custom-quill-editor .ql-size-large {
  font-size: 1.5rem; /* 20px */
}
.custom-quill-editor .ql-size-huge {
  font-size: 1.75rem; /* 24px or larger */
}
