/* Navigation Styling:- */
.sidebar-div {
  padding: 40px 24px;
  border-right: 1px solid gray;
}
.profile-details {
  display: flex;
  align-items: center;
}
.details {
  margin-left: 12px;
}
.details h4 {
  font-size: 18px;
}
.quick-links h2 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #1f75fe;
  letter-spacing: 0.02rem;
}
.quick-links ul li {
  padding: 2px 0px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02rem;
  transition: all ease-in 0.2s;
  font-size: 18px;
  cursor: pointer;
}
.quick-links ul li:hover {
  color: #1f75fe;
}
.nav-icons-style {
  margin-right: 8px;
}
.nav-icons-style:hover {
  color: #cdcdcd;
}

/* Notes Show styling:- */
.notes-list-div {
  height: 100%;
  padding: 40px 24px;
}
.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-icon {
  margin-left: 12px;
  position: absolute;
}
.input {
  width: 90%;
  height: 45px;
  line-height: 30px;
  padding: 0 5rem;
  padding-left: 3rem;
  border-radius: 12px;
  outline: none;
  background-color: #23272c;
  color: white;
  transition: 0.5s ease;
}
.create-btn {
  height: 45px;
  width: 45px;
  margin-left: 12px;
  border: 2px solid #1f75fe;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f75fe;
  color: white;
  transition: all ease-in 0.2s;
}
.create-btn:hover {
  background-color: transparent;
  color: #1f75fe;
}
.show-icons-style {
  font-size: 24px;
}
.notes-mapping-div h4 {
  margin-left: 8px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
.mapping-container {
  height: 495px;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0px;
}
.mapping-container h4 {
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  color: #cccccc;
}

/* Notes Details Styling:- */
.note-detail-container {
  height: 100%;
  padding: 40px 24px;
  border-left: 1px solid gray;
}
.writting-tools {
  width: 100%;
  height: 45px;
  background-color: #23272c;
  border-radius: 8px;
}
.title-btns-div h2 {
  font-size: 24px;
  font-size: 500;
}
.btns {
  display: flex;
}
.update-btn {
  padding: 6px 12px;
  border: 2px solid #1f75fe;
  border-radius: 8px;
  background-color: #1f75fe;
  transition: all ease-in 0.2s;
}
.update-btn:hover {
  background-color: transparent;
  color: #1f75fe;
}
.cancel-btn {
  padding: 6px 12px;
  border: 2px solid transparent;
  border-radius: 8px;
  background-color: #23272c;
  box-shadow: 0px 0px 4px #0f0f0f, 0px 0px 4px #0f0f0f;
  transition: all ease-in 0.2s;
}
.cancel-btn:hover {
  border-color: #1f75fe;
  color: #1f75fe;
}
.tool-btns {
  padding: 0px 8px;
  height: 45px;
  width: fit-content;
  margin-left: 12px;
  border: 2px solid transparent;
  border-radius: 12px;
  background-color: #23272c;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 4px #0f0f0f, 0px 0px 4px #0f0f0f;
  transition: all ease-in 0.2s;
}
.tool-btns:hover {
  border-color: #1f75fe;
  color: #1f75fe;
}
.tool-icons-style {
  font-size: 24px;
}
.styling-btn {
  background-color: #1f75fe;
  color: white;
}
.styling-btn:hover {
  background-color: transparent;
  color: #1f75fe;
}

/* styling when is editing is true */
.isEditing-title-div input {
  background-color: transparent;
  font-size: 24px;
  outline: none;
}
.isEditing-para-area {
  width: 100%;
  background-color: transparent;
  padding: 12px 0px;
  font-size: 18px;
  outline: none;
}
